/****************** MARY'S CHANGES ************************/

/*
	I organized the css styling according to their functionality on the page:
	the instructions, the placement of the canvases and images, and the buttons / user interaction.

	I kept the original in-line styling at the bottom of this sheet for reference.

	I have background colors that are useful for seeing divs and containers.  You can find and turn these off by searching for "DEVELOPMENT BACKGROUND"

	Ultimately, this is the reasoning for how we centered, aligned, distributed the containers.  Because we did not know the width of all the incoming images (and we assumed that they might not neccesarily all have the same width), we favored a left justified spacing.

*/


/***these are CSS that affect the entire page, such as bacground color and font****/
body {
	/********** DEVELOPMENT BACKGROUND ****************/
	background-color: #f4fff5;
	margin: 0;
	font-family: "Roboto";
}

/****** related to the title of the page******/
h1 {
	text-align: center;
	
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 50px;

	/**********FONT****************/
	letter-spacing: 1.1px;
	color: #303030;
	font-weight: 200;
	line-height: 45px;
}

/******** section that holds all of the pictures and their clear button*********/
.pictureSection {
	margin-left: 100px;
	margin-right: 100px; 

	/*********DEVELOPMENT BACKGROUND***************/
	background-color: pink;
}

.canvasContainer {
    position: relative;
	display: inline-block;    
	margin-top: 50px;
    width: 350px;
    
	/*********DEVELOPMENT BACKGROUND***************/
	background-color: #95c4e2;
}

.canvasOverlay {
    position:absolute;
    top: 0;
	left: 0;
}

canvas {
	border: 1px solid black;
    display: inline-block;
}

/****these are the elements related to the user's inputs****/
form {
	margin-top: 75px;
	margin-bottom: 100px;
	margin-left: 100px;

    text-align: left;
}

input {
	/**********BUTTON COLOR************/
	background-color: #2b6dd8;
}

.clearBtn {
    display: block;
	height: 30px;
	
	margin-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
 
    cursor: pointer;
    outline: 0;
    border: none;

	color: #fff;
	font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.clearBtn:hover {
    background-color: #598ee5;
}

.clearBtn:active {
    background-color: #30589b;
}

p {
    display: block;
}

#submit {    
    display: block;
    border: none;

	margin-top: 10px;
    height: 30px;
    padding-right: 10px;
    padding-left: 10px;
    
    cursor: pointer;
    outline: 0;

	color: #fff;
	font-size: 12px;
 	font-weight: 600;
	letter-spacing: 1.2px;
}

#submit:hover {
    background-color: #598ee5;
}

#submit:active {
    background-color: #30589b;
}

/****************** OLD CODE ****************/
	/*this is your original inline styling*/
	
/*
		Each container contains 2 canvases, one on top of the other.  one canvas is used to 
		display an image, the other canvas is used to draw indications*/
		
/*		#container1{ position: relative;}
    	#canvas1 { position: relative; top: 0; left: 0;}
    	#canvas2 { position: absolute; top: 0; left: 0;}
    	
    	#container2{ position: absolute; }
		#canvas3 { position: absolute; top: 0; left: 300; }
    	#canvas4 { position: absolute; top: 0; left: 300; }

    	#container3{ position: relative; }
		#canvas5 { position: relative; top: 0; left: 0; }
		#canvas6 { position: absolute; top: 0; left: 0; }
		
		#container4{ position: relative; }
		#canvas7 { position: relative; top: 0; left: 0; }
		#canvas8 { position: absolute; top: 0; left: 0; }
		
		#container5{ position: relative; }
		#canvas9 { position: relative; top: 0; left: 0; }
		#canvas10 { position: absolute; top: 0; left: 0; }
				
		#container6{ position: relative; }
		#canvas11 { position: relative; top: 0; left: 0; }
		#canvas12 { position: absolute; top: 0; left: 0; }*/

		/*#container{position:relative;}
		.part{position:absolute;}
		#canvas1 {left:0;} 
		#canvas2 {left:0;}
		#canvas3 {left:230px;}
		#canvas4 {left:230px;}
		#canvas5 {left:460px;}
		#canvas6 {left:460px;}
		#canvas7 {left:690px;}
		#canvas8 {left:690px;}
		#canvas9 {left:920px;}
		#canvas10 {left:920px;}			
		#canvas11  {left:1150px;}
		#canvas12  {left:1150px;}
		#mturk_form {top: 400px;}
		#clear2 {top:370px; }
		#clear4 {top:370px; left:230px; }
		#clear6 {top:370px; left:460px;}
		#clear8 {top:370px; left:690px;}
		#clear10 {top:370px; left:920px;}
		#clear12 {top:370px; left:1150px;};*/
/*
    	//========================================================
*/